# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
aiohttp=3.8.3=pypi_0
aiosignal=1.2.0=pypi_0
alabaster=0.7.12=pypi_0
altair=4.2.0=pypi_0
aniso8601=9.0.1=pypi_0
anyio=3.6.1=pypi_0
appnope=0.1.3=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
asttokens=2.0.8=pypi_0
async-timeout=4.0.2=pypi_0
attrs=22.1.0=pypi_0
babel=2.10.3=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.11.1=pypi_0
blas=1.0=mkl
bleach=5.0.1=pypi_0
blinker=1.5=pypi_0
bokeh=2.4.3=pypi_0
bqplot=0.12.36=pypi_0
branca=0.5.0=pypi_0
brotli=1.0.9=pypi_0
bzip2=1.0.8=h1de35cc_0
c-ares=1.18.1=hca72f7f_0
ca-certificates=2022.9.24=h033912b_0
cachelib=0.9.0=pypi_0
cachetools=5.2.0=pypi_0
cairo=1.16.0=h691a603_2
certifi=2022.9.24=pypi_0
cffi=1.15.1=pypi_0
cfitsio=3.470=hbd21bf8_7
charset-normalizer=2.1.1=pypi_0
click=8.1.3=py310h2ec42d9_0
click-plugins=1.1.1=pypi_0
cligj=0.7.2=pypi_0
colour=0.1.5=pypi_0
commonmark=0.9.1=pypi_0
contourpy=1.0.5=pypi_0
curl=7.84.0=hca72f7f_0
cycler=0.11.0=pypi_0
dash=2.6.2=pypi_0
dash-bootstrap-components=1.2.1=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
debugpy=1.6.3=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
docopt=0.6.2=pypi_0
docutils=0.17.1=pypi_0
earthengine-api=0.1.326=pypi_0
ee-extra=0.0.14=pypi_0
entrypoints=0.4=pypi_0
executing=1.1.0=pypi_0
expat=2.4.9=he9d5cce_0
fastjsonschema=2.16.2=pypi_0
ffmpeg-python=0.2.0=pypi_0
filelock=3.8.0=pypi_0
fiona=1.8.21=py310h56b70e1_0
flask=2.1.3=pypi_0
flask-caching=2.0.1=pypi_0
flask-compress=1.13=pypi_0
flask-cors=3.0.10=pypi_0
flask-restx=0.5.1=pypi_0
folium=0.12.1.post1=pypi_0
fontconfig=2.13.1=ha9ee91d_0
fonttools=4.37.4=pypi_0
freetype=2.11.0=hd8bbffd_0
freexl=1.0.6=h9ed2024_0
frozenlist=1.3.1=pypi_0
future=0.18.2=pypi_0
gdal=3.4.1=pypi_0
gdown=4.5.1=pypi_0
geeadd=0.5.6=pypi_0
geemap=0.17.1=pypi_0
geoalchemy2=0.12.5=pypi_0
geocoder=1.38.1=pypi_0
geojson=2.5.0=pypi_0
geopandas=0.11.1=pypi_0
geos=3.8.0=hb1e8313_0
geotiff=1.7.0=hf77b895_0
geovoronoi=0.4.0=pypi_0
gettext=0.21.0=h7535e17_0
giflib=5.2.1=haf1e3a3_0
gitdb=4.0.9=pypi_0
gitpython=3.1.27=pypi_0
glib=2.69.1=h8346a28_1
google-api-core=2.10.1=pypi_0
google-api-python-client=1.12.11=pypi_0
google-auth=2.12.0=pypi_0
google-auth-httplib2=0.1.0=pypi_0
google-cloud-core=2.3.2=pypi_0
google-cloud-storage=2.5.0=pypi_0
google-crc32c=1.5.0=pypi_0
google-resumable-media=2.4.0=pypi_0
googleapis-common-protos=1.56.4=pypi_0
greenlet=1.1.3=pypi_0
h11=0.14.0=pypi_0
hdf4=4.2.13=h39711bb_2
hdf5=1.10.6=h10fe05b_1
httplib2=0.20.4=pypi_0
httplib2shim=0.0.3=pypi_0
icu=58.2=h0a44026_3
idna=3.4=pypi_0
imagesize=1.4.1=pypi_0
importlib-metadata=4.12.0=pypi_0
intel-openmp=2021.4.0=hecd8cb5_3538
ipyevents=2.0.1=pypi_0
ipyfilechooser=0.6.0=pypi_0
ipykernel=6.16.0=pypi_0
ipyleaflet=0.17.1=pypi_0
ipysheet=0.5.0=pypi_0
ipython=8.5.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipytree=0.2.2=pypi_0
ipywidgets=7.7.2=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.18.1=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.2.0=pypi_0
jpeg=9e=hca72f7f_0
json-c=0.16=hca72f7f_0
json5=0.9.10=pypi_0
jsonschema=4.16.0=pypi_0
jupyter-client=7.3.5=pypi_0
jupyter-core=4.11.1=pypi_0
jupyter-server=1.19.1=pypi_0
jupyter-server-proxy=3.2.2=pypi_0
jupyterlab=3.4.7=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.15.2=pypi_0
jupyterlab-widgets=1.1.1=pypi_0
kealib=1.4.14=h7cdcae2_1
keplergl=0.3.2=pypi_0
kiwisolver=1.4.4=pypi_0
krb5=1.19.2=hcd88c3b_0
large-image=1.17.0=pypi_0
large-image-source-gdal=1.17.0=pypi_0
leafmap=0.10.5=pypi_0
lerc=3.0=he9d5cce_0
libboost=1.73.0=h3fa6bed_12
libcurl=7.84.0=h6dfd666_0
libcxx=14.0.6=h9765a3e_0
libdap4=3.19.1=h3d3e54a_0
libdeflate=1.8=h9ed2024_5
libedit=3.1.20210910=hca72f7f_0
libev=4.33=h9ed2024_1
libffi=3.3=hb1e8313_2
libgdal=3.4.1=h3e5e7cf_2
libgfortran=5.0.0=11_2_0_h246ff09_26
libgfortran5=11.2.0=h246ff09_26
libiconv=1.16=hca72f7f_2
libkml=1.3.0=h952ee91_5
libnetcdf=4.8.1=h24cb85c_1
libnghttp2=1.46.0=ha29bfda_0
libpng=1.6.37=ha441bb4_0
libpq=12.9=h1c9f633_3
libspatialite=4.3.0a=h268bb56_20
libssh2=1.10.0=h0a4fc7d_0
libtiff=4.4.0=h2ef1027_0
libwebp-base=1.2.2=hca72f7f_0
libxml2=2.9.14=hbf8cd5e_0
libzip=1.8.0=h272c8d6_0
llvm-openmp=14.0.6=h0dcd299_0
localtileserver=0.6.0=pypi_0
logzero=1.7.0=pypi_0
lxml=4.9.1=pypi_0
lz4-c=1.9.3=h23ab428_1
mapclassify=2.4.3=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib=3.6.0=pypi_0
matplotlib-inline=0.1.6=pypi_0
mistune=2.0.4=pypi_0
mkl=2021.4.0=hecd8cb5_637
mkl-service=2.4.0=py310hca72f7f_0
mkl_fft=1.3.1=py310hf879493_0
mkl_random=1.2.2=py310hc081a56_0
multidict=6.0.2=pypi_0
munch=2.5.0=pypi_0
nbclassic=0.4.4=pypi_0
nbclient=0.6.8=pypi_0
nbconvert=7.0.0=pypi_0
nbformat=5.6.1=pypi_0
nbserverproxy=0.8.8=pypi_0
nbsphinx=0.8.9=pypi_0
ncurses=6.3=hca72f7f_3
nest-asyncio=1.5.6=pypi_0
networkx=2.8.6=pypi_0
notebook=6.4.12=pypi_0
notebook-shim=0.1.0=pypi_0
numpy=1.23.1=py310hdcd3fac_0
numpy-base=1.23.1=py310hfd2de13_0
openjpeg=2.4.0=h66ea3da_0
openssl=1.1.1q=hfe4f2af_0
owslib=0.27.2=pypi_0
packaging=21.3=pypi_0
palettable=3.3.0=pypi_0
pandas=1.5.0=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pcre=8.45=h23ab428_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.2.0=pypi_0
pip=22.2.2=py310hecd8cb5_0
pixman=0.40.0=h9ed2024_1
plotly=5.10.0=pypi_0
poppler=0.81.0=h031bf0f_2
poppler-data=0.4.11=hecd8cb5_0
pprintpp=0.4.0=pypi_0
proj=6.2.1=hfd5b9e3_0
prometheus-client=0.14.1=pypi_0
prompt-toolkit=3.0.31=pypi_0
protobuf=3.20.3=pypi_0
psutil=5.9.2=pypi_0
psycopg2=2.9.3=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=9.0.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.21=pypi_0
pycrs=1.0.2=pypi_0
pydeck=0.8.0b3=pypi_0
pygments=2.13.0=pypi_0
pympler=1.0.1=pypi_0
pyparsing=3.0.9=pypi_0
pyproj=3.4.0=pypi_0
pyrsistent=0.18.1=pypi_0
pyshp=2.3.1=pypi_0
pysocks=1.7.1=pypi_0
pystac=1.6.1=pypi_0
pystac-client=0.5.1=pypi_0
python=3.10.4=hdfd78df_0
python-box=6.0.2=pypi_0
python-datauri=1.1.0=pypi_0
python-dateutil=2.8.2=pypi_0
python-dotenv=0.21.0=pypi_0
python-lorem=1.1.2=pypi_0
python_abi=3.10=2_cp310
pytz=2022.2.1=pypi_0
pytz-deprecation-shim=0.1.0.post0=pypi_0
pyyaml=6.0=pypi_0
pyzmq=24.0.1=pypi_0
ratelim=0.1.6=pypi_0
readline=8.1.2=hca72f7f_1
requests=2.28.1=pypi_0
rich=12.5.1=pypi_0
rsa=4.9=pypi_0
sankee=0.2.0=pypi_0
scikit-learn=1.1.2=pypi_0
scipy=1.9.1=pypi_0
scooby=0.6.0=pypi_0
semver=2.13.0=pypi_0
send2trash=1.8.0=pypi_0
server-thread=0.2.0=pypi_0
setuptools=63.4.1=py310hecd8cb5_0
shapely=1.8.4=py310ha3a5ccb_0
simpervisor=0.4=pypi_0
six=1.16.0=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
snowballstemmer=2.2.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
sphinx=5.3.0=pypi_0
sphinx-rtd-theme=1.0.0=pypi_0
sphinxcontrib-applehelp=1.0.2=pypi_0
sphinxcontrib-devhelp=1.0.2=pypi_0
sphinxcontrib-htmlhelp=2.0.0=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.3=pypi_0
sphinxcontrib-serializinghtml=1.1.5=pypi_0
sqlalchemy=1.4.41=pypi_0
sqlite=3.39.3=h707629a_0
stack-data=0.5.1=pypi_0
streamlit=1.12.2=pypi_0
streamlit-bokeh-events=0.1.2=pypi_0
streamlit-folium=0.6.15=pypi_0
streamlit-keplergl=0.3.0=pypi_0
tenacity=8.1.0=pypi_0
terminado=0.16.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tiledb=2.3.3=h74f4c1e_2
tinycss2=1.1.1=pypi_0
tk=8.6.12=h5d9f67b_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
toolz=0.12.0=pypi_0
tornado=6.2=pypi_0
tqdm=4.64.1=pypi_0
traitlets=5.4.0=pypi_0
traittypes=0.2.1=pypi_0
tropycal=0.6=pypi_0
typing-extensions=4.3.0=pypi_0
tzdata=2022.4=pypi_0
tzlocal=4.2=pypi_0
uritemplate=3.0.1=pypi_0
urllib3=1.26.12=pypi_0
uvicorn=0.18.3=pypi_0
validators=0.20.0=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.4.1=pypi_0
werkzeug=2.1.2=pypi_0
wheel=0.37.1=pypi_0
whitebox=2.1.4=pypi_0
whiteboxgui=0.7.0=pypi_0
widgetsnbextension=3.6.1=pypi_0
xarray=2022.9.0=pypi_0
xerces-c=3.2.3=h48eee30_0
xyzservices=2022.9.0=pypi_0
xz=5.2.6=hca72f7f_0
yarg=0.1.9=pypi_0
yarl=1.8.1=pypi_0
zipp=3.8.1=pypi_0
zlib=1.2.12=h4dc903c_3
zstd=1.5.2=hcb37349_0
